<h1>TODO:</h1>
<div>ADD TODO:
    <input [(ngModel)]="toDo">
    <button (click)="addData()">SUBMIT</button>
</div>
<span *ngIf='toDoData.length > 0 '>TODO List:</span>
<div *ngFor="let Data of this.toDoData;let i = index">
    <div>{{Data}} <span><i (click)="delet(i)" class="fa fa-trash-o" aria-hidden="true"></i><button (click)="edit(Data,i)"
                type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                edit
            </button>
        </span>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <input [(ngModel)]="data">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="saveChanges()">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>