<div>
  <div class="header-contener" [ngClass]="{ 'expand-menu': isToggled }">
    <div class="side-icon">
      <span class="material-icons" (click)="toggleMenu()">
        menu
        </span>
    </div>
    <div class="side-icon">
      <span class="material-icons" (click)="gpTohome()">
        home_filled
        </span>
      <span
        *ngIf="isToggled"
        >Home</span
      >
    </div>
    <div class="side-icon">
      <span class="material-icons" (click)="goToCareers()">
        recent_actors
      </span>
      <span *ngIf="isToggled">Carrer</span>
    </div>
    <div class="side-icon">
      <span class="material-icons" (click)="goToleaves()">
        calendar_today
      </span>
      <span *ngIf="isToggled">Leaves</span>
    </div>
    <div class="side-icon">
      <span class="material-icons" (click)="goToEmployees()"> person_2 </span>
      <span *ngIf="isToggled">Empolyees</span>
    </div>
    <div class="side-icon">
      <span class="material-icons" (click)="goToHandsontable()">
        table_view
      </span>
      <span *ngIf="isToggled">Handsontable</span>
    </div>
    <div class="side-icon">
      <span class="material-icons" (click)="logout()"> logout </span>
      <span *ngIf="isToggled">Logout</span>
    </div>
  </div>
</div>
