<!-- <div class="handsonClass">
  <hot-table
    [data]="employees"
    height="auto"
    licenseKey="non-commercial-and-evaluation"
  >
    <hot-column data="id" title="ID"></hot-column>
    <hot-column data="name" title="Full name"></hot-column>
    <hot-column data="leaveType" title="Leaves Type"></hot-column>
    <hot-column data="position" title="Position"></hot-column>
    <hot-column data="role" title="Role"></hot-column>
    <hot-column data="status" title="Status"></hot-column>
    <hot-column data="" title="Actions"></hot-column>
  </hot-table>
</div> -->

<hot-table [settings]="settings">
  <!-- <hot-column title="ID"></hot-column>
  <hot-column title="Name"></hot-column>
  <hot-column title="Leaves Type"></hot-column>
  <hot-column title="Status"></hot-column>
  <hot-column title="Position"></hot-column>
  <hot-column title="Role"></hot-column>
  <hot-column title="Actions"></hot-column> -->
</hot-table>
